:root {
  --font-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
  --font-noto: var(--next-noto-tc), var(--next-noto-sc);
  --font-title: var(--next-title), var(--font-noto), var(--font-default);
  --font-body: var(--next-body), var(--font-noto), var(--font-default);
}
